* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

.poster-wrapper {
    position: relative;
    margin: 0 auto;
    padding: 30px 30px 0;
    height: 100vh;
    aspect-ratio: .75;
    overflow: hidden;
    border: 15px solid white;
}

@media screen and (max-width: 600px) {
    .poster-wrapper {
        aspect-ratio: none;
        width: 100%;
        border-right: none;
        border-left: none;
        height: 90vh;
    }
}

.poster-wrapper:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    background: radial-gradient(transparent 70%, black);
    z-index: 3;
    opacity: .2;
}

.poster-wrapper svg,
.poster-wrapper img {
    display: block;
    height: 80%;
    mix-blend-mode: luminosity;
    filter: contrast(1.6);
    shape-margin: 10px;
}

.rue {
    shape-outside: url('./svgs/rue.svg');
}
.cal {
    shape-outside: url('./svgs/cal.svg');
}
.nate {
    shape-outside: url('./svgs/nate.svg');
}
.cassie {
    shape-outside: url('./svgs/cassie.svg');
}
.maddy {
    shape-outside: url('./svgs/maddy.svg');
}
.fezco {
    shape-outside: url('./svgs/fezco.svg');
}

.quote-word {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
    color: white;
    font-size: 18px;
    z-index: 2;
    text-transform: uppercase;
    line-height: 1;
    font-weight: bold;
    font-family: 'Volkhov', sans-serif;
    white-space: break-spaces;
}

.overlay {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.loading-rect {
    position: absolute;
}

.loading-finished .loading-rect {
    display: none;
}