* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

.poster-wrapper {
    position: relative;
    margin: 0 auto;
    padding: 30px 30px 0;
    height: 100vh;
    aspect-ratio: .75;
    overflow: hidden;
    border: 10px solid black;
}

.poster-wrapper svg {
    height: 80%;
    mix-blend-mode: luminosity;
    filter: contrast(1.6);
    shape-margin: 10px;
}

.quote-word {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
    color: white;
    white-space: pre-wrap;
    font-size: 18px;
    z-index: 2;
    text-transform: uppercase;
    line-height: 1;
    font-weight: bold;
    font-family: 'Volkhov', sans-serif;
}

.overlay {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}